@model WebApiClient.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-5 col-md-3">
                <form action="/Home/Login" method="post" class="form-horizontal">
                    <h4>Welcome back.</h4>
                    <div class="editor-label">
                        @Html.LabelFor(u => u.Email)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(u => u.Email)
                        @Html.ValidationMessageFor(u => u.Email)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(u => u.Password)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(u => u.Password)
                        @Html.ValidationMessageFor(u => u.Password)
                    </div>
                    <div class="wrapper">
                        <input type="submit" name="name" value="Login" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
